<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <title>Natural Language Processing - NLP</title>
</head>
  <body>
    <header>
      <div class="logo">Hu<span class="logo-1">rr</span>ah</div>
      <div class="nav">
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">About</a>
        <a href="#">Terms</a>
        <a href="#">Contact</a>
      </div>
    </header>

    <main>
      <div class="title">Language Identification</div>
      <p class="instructions">Please enter word/s you wish to check.</p>
      <section>
        <form class="lang-eval" onsubmit="return Client.handleSubmit(event)">
            <input id="word" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter word/s:">
            <input type="submit" value="Evaluate" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
        </form>
        <section>

      <section>
        <div class="results">Language Name:</div>
        <div id="lang_results"></div>
      </section>
    </main>
    <footer class="footer-form">
      <div class="social">
        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="#"><ion-icon name="logo-snapchat"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
      </div>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Home</a></li>
          <li class="list-inline-item"><a href="#">Services</a></li>
          <li class="list-inline-item"><a href="#">About</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Contact</a></li>
      </ul>
      <p class="designed">Designed by Ma. Cielo Tennert</p>
      <p class="copyright">Hurrah! ©2022</p>
    </footer>
    <script>
      // Check if service workers are supported
      if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
  </script>
  <!-- Footer icons -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
