<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="stylesheet" href="/main.css" />
  </head>

  <body>
    <header>
      <div class="logo">O<span class="super">2</span>HA</div>
      <div class="nav">
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">About</a>
        <a href="#">Terms</a>
        <a href="#">Contact</a>
      </div>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
            <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
            <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
        </form>
        <section>

      <section>
        <strong>Form Results:</strong>
        <div id="results"></div>
      </section>
    </main>
    <footer class="footer-form">
      <div class="social">
        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="#"><ion-icon name="logo-snapchat"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
      </div>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Home</a></li>
          <li class="list-inline-item"><a href="#">Services</a></li>
          <li class="list-inline-item"><a href="#">About</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Contact</a></li>
      </ul>
      <p class="designed">Designed by Ma. Cielo Tennert</p>
      <p class="copyright">O<span class="super">2</span>A ©2022</p>
    </footer>
    <script>
      // Check if service workers are supported
      if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
  </script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800&display=swap');
    </style>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
