$prim-color-gray: #606060ff;
$sec-color-green: #d6ed17ff;
$ter-color-white: #fff;
$font-name: Arial, Helvetica, sans-serif;

form {
  border: 1px solid $sec-color-green;
  border-radius: 3px;
  padding: 2rem 4rem;
}

#word {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
